body {
  background-color: #424242;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.link {
  color: red;
}

.length {
  margin-bottom: 5px ;
}

.hidden {
  /*display: none;*/
  position: absolute; 
  left: -999em;
}

.feedContainer {
  background-color: white;
  margin: 0 auto;
  width: 83%;
  min-width: 260px;
}

.feedEntry {
  margin-top: 10px;
  margin-bottom: 10px;  
}

.feedTitle {
  color: #B4AAAA;
  border-bottom: 1px solid #B4AAAA;
  text-align: center;
}

.feedList{
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 0;
  margin-bottom: 0;
}

.theEnd {
  text-align: center;
}

.content {
  margin-top: 10px;
}

.date time{
  font-style: italic;
  color: #666;
}